*, *::before, *::after {
    box-sizing: border-box1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFF7ED;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.6em;
}

.logo {
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    gap: .7em;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-weight: 700;
    color: #4D4D4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a img {
    width: 20px;   
}

a.active-link {
    text-decoration: underline;
    color: red;
    font-size: 1.1rem;
}